!!!
html
  head
    title 打包机器使用状态查询
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/javascripts/index.js")
  body!= body